# ❌ Do NOT write `python==3.9` here. It causes errors in Streamlit Cloud.

# Core
streamlit>=1.25.0
pandas
numpy
scikit-learn>=1.1.1

# Models
xgboost==1.7.6
lightgbm==3.3.5
catboost==1.0.6

# SHAP & explanation support
shap==0.41.0
numba==0.57.0
llvmlite==0.40.0

# Visualization
matplotlib
seaborn

# Streamlit enhancements
streamlit-extras
