python==3.9
shap==0.41.0
numba==0.53.1
llvmlite==0.36.0


# Core
streamlit>=1.25.0
pandas
numpy
scikit-learn

# ML Models
xgboost
lightgbm
catboost

# Visualization
matplotlib
seaborn



# Streamlit Extensions (optional for UI)
streamlit-extras
