# core

pandas==1.5.3

scipy==1.10.1
joblib==1.2.0
numpy==1.26.4
scikit-learn==1.6.1

# plotting
matplotlib==3.7.1
seaborn==0.12.2
shap==0.41.0

# ML models
xgboost==1.6.1

lightgbm==3.3.5
catboost==1.2

# UI and Streamlit
streamlit==1.25.0
tqdm==4.65.0

# others
pyyaml
tenacity
requests
